* {
    font-family: Brush Script MT, cursive;
    padding: 4px;
}

h1{
    text-align: center;
}

.description{
    text-align: center;
}

.ingredient {
    padding: 4px;
    background-color: rgba(0, 255, 0, 0.2);
    border-radius: 10px;
    line-height: 35px;
}



.container{
    display: inline-block;
}

.plateimage{
    float:left;
    width:50%;
}

.platetable{
    float:right;
}


.quantity{
    font-weight: bold;
    border-radius: 20px;
    padding: 3px;
    background-color: rgb(229, 255, 0);
}

.french{
    background: linear-gradient(yellow, purple );
}

td {
    border: 1px solid black;
    border-collapse: collapse;
  }

table{
    border-collapse: collapse;
}